
  <div class="container-2">
    <hr>
    <h2 class="about-me">about me.</h2>
    <img class="photo" src="https://pbs.twimg.com/profile_images/1583474240401117185/WvGI-Cp5_400x400.jpg" alt="">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit
      nesciunt ratione temporibus dolores reiciendis nostrum quos eaque quisquam
      tenetur necessitatibus ab minus sapiente nihil, nam distinctio officiis.
      Aliquam, veniam.
    </p>
    <div id="rectangle"></div>
  </div>

