
.container-2{
  display: grid;
  grid-template: 1fr 1fr / 0.5fr repeat(1fr) 0.5fr;
}

.photo{
  display: grid;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
   text-align: center;

}


/* #rectangle {
  width: 400px;
  height: 500px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border: solid black;
  margin-left: 600px;

}*/
.container-2{
  margin: 150px;
  display: grid;
  margin-top: 150px;
}
.container-2 h2{
  display:inline-flex;
  font-size: 70pt;
  text-align: left;

}





