/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: rgb(174, 238, 202);
  background: radial-gradient(
    circle,
    rgba(174, 238, 202, 1) 0%,
    rgba(172, 148, 233, 1) 100%
  );
  width: 100%;
}
